.container{
    background-color:whitesmoke;
    width: 100%;
    height: 60vh;
    border-radius: 20px;
    border: 1px solid gray;
    
}
.left-arrow{
    position: fixed;
    left: 30%;
    top: 22%;
    cursor: pointer;
}
.btn2{
    color: black;
}
.gap{
    gap: 20px;
}